{% extends "layouts/main.njk" %}
{% block content %}
    <div class="container">
        <div class="mx-auto">
            <div class="max-w-2xl">qwe</div>
              <div class="font-mono"></div>

        </div>
    </div>
{% endblock %}